page-history {
    .background {
        background-color: rgb(102, 133, 226)
      }

      .textcolor{
        color: white;
               text-align: center;
               font-size: 24px;
        
      }
}
