
<ion-header>
  <ion-toolbar>
    <button ion-button menuToggle left>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title class="title-style">History</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content class="background" padding>
  <div class="textcolor">Swipe to view claims</div>
  <br>
  <!-- <ion-tabs>
        <ion-tab [root]="tab1Root" tabTitle="Released"></ion-tab>
        <ion-tab [root]="tab2Root" tabTitle="Rejected"></ion-tab>
      </ion-tabs> -->
  <div *ngFor="let form of forms">
    <div *ngIf="form.user_id == 101">
      <ion-list>
        <ion-item-sliding #item *ngIf="form.status == 'released'">
          <ion-item>
              <!-- <ion-img width="25" height="25" src="assets/imgs/checked" item-end></ion-img> -->
            <ion-icon name="checkmark" color="secondary" item-end></ion-icon>
            <ion-label>
              <p><b>Requested on {{ form.date }}</b></p>
              <p><b>Released on {{ form.releasedate }}</b></p>
              <p>Claimed for Rs. {{ form.amount }}</p>
            </ion-label>
          </ion-item>

          <ion-item-options side="right">
            <button ion-button (click)="viewDetails(form)">View details</button>
          </ion-item-options>
          <ion-item-options side="left">
            <button ion-button (click)="viewDetails(form)">View details</button>
          </ion-item-options>
        </ion-item-sliding>

        <ion-item-sliding #item *ngIf="form.status == 'rejected'">
          <ion-item>

              <ion-icon name="close" color="danger" item-end></ion-icon>
            <ion-label>
              <p><b>Requested on {{ form.date }}</b></p>
              <p><b>Rejected on {{ form.rejectdate }}</b></p>
              <p>Claimed for Rs. {{ form.amount }}</p>
            </ion-label>
          </ion-item>

          <ion-item-options side="right">
            <button ion-button (click)="viewDetails(form)">View details</button>
          </ion-item-options>
          <ion-item-options side="right">
            <button ion-button (click)="viewDetails(form)">View details</button>
          </ion-item-options>
        </ion-item-sliding>
      </ion-list>
    </div>
  </div>

</ion-content>