page-dashboard {
  
  .background {
    background-color: rgba(38, 81, 212, 0.822)
  }
  .titlecolor{
    color: #000080;
    
}
.textcolor{
  color: white;
         text-align: center;
         font-size: 24px;
  
}




}
