page-patientdetails{
    .textcolor{
        color: white;
               text-align: center;
               font-size: 24px;
        
      }
.alignleft{
    
    display: block;
}
.aligncenter{
    
    text-align: center;
}

.alignbuttoncenter {

    float: center;
}
.alignright {
    float:right;
    
}
.alignleft{
    
    display: inline;
}
// .button-inner {
//     flex-flow: column;
//   }

  .my-label {
    font-size: 12px;
  }
  .background {
    background-color: rgb(102, 133, 226)
  }
}