page-submission {

}
.centerAlign{
    display: flex;
    justify-content: center;
}
.swipe_ins{
    display: flex;
    justify-content: center;
    font-size: 80%;
    background: #414141;
    padding-top: 3%;
    padding-bottom: 3%;
    width: 100%;
    color:white;
}