<ion-header>
  <ion-navbar color="navbar">
    <button ion-button menuToggle><ion-icon name="menu"></ion-icon></button>
    <ion-title>Dashboard</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="home_logo">
    <img src="/assets/imgs/infor.png" height="40%" width="40%" />
  </div>
  <div class="centerAlign"><h2>Infor Medi Claim - Admin</h2></div>
  <div class="centerAlign">
    <h3>Welcome {{ loggedUserName }} !</h3>
  </div>

  <div id="adminDashCharts"></div>

  <ion-card
    (click)="goToPage('submissions')"
    color="secondary"
    [ngClass]="{ 'bg-red': changeColorSub }"
  >
    <ion-card-header class="centerAlign">
      <h1>Pending Submissions</h1>
    </ion-card-header>
    <ion-card-content *ngIf="badgeSubCount == 0">
      You do not have any pending subissions !
    </ion-card-content>
    <ion-card-content *ngIf="badgeSubCount > 0">
      You have {{ badgeSubCount }} pending submissions to be processed !
    </ion-card-content>
  </ion-card>

  <ion-card
    (click)="goToPage('cheques')"
    color="secondary"
    [ngClass]="{ 'bg-red': changeColorChq }"
  >
    <ion-card-header class="centerAlign">
      <h1>Cheque Ready Queue</h1>
    </ion-card-header>
    <ion-card-content *ngIf="badgeChqCount == 0">
      You do not have any cheques pending !
    </ion-card-content>
    <ion-card-content *ngIf="badgeChqCount > 0">
      You have {{ badgeChqCount }} cheques pending !
    </ion-card-content>
  </ion-card>

  <ion-card
    (click)="goToPage('collect')"
    color="secondary"
    [ngClass]="{ 'bg-red': changeColorCol }"
  >
    <ion-card-header class="centerAlign">
      <h1>Collected Cheques</h1>
    </ion-card-header>
    <ion-card-content *ngIf="badgeColCount == 0">
      You do not have any cheques waiting to be collected !
    </ion-card-content>
    <ion-card-content *ngIf="badgeColCount > 0">
      You have {{ badgeColCount }} cheques waiting to be collected !
    </ion-card-content>
  </ion-card>
</ion-content>
