page-login {

}

.login_content{
    background-color: #424242;
}

.loginpgLogo{
    display: flex;
    justify-content: center;
    margin-top: 25%;
    margin-bottom: 5%;
}

.loginmaintxt{
    display: flex;
    justify-content: center;
    margin-bottom: 15%;
    color: white;
    font-size: 150%;
}

.loginfields{
    width: 90%;
    background-color: #828282;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 10%;
}

.loginbtn1{
    width:60%;
    margin-left: 20%;
    margin-right: 20%;
}
.loginFooter{
    display: flex;
    justify-content: center;
    color: white;
    font-size: 70%;
    background-color: gray;
    width: 100%;
}
.loginTxtFlds{
    color:white;
}